@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;700&display=swap');

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* background images styleing and positioning */

body {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Red Hat Text', sans-serif;
  width: 100vw;
  overflow: hidden;
  background-color: var(--Very-dark-mostly-black-blue);
  position: relative;
  background-image: url('./images/bg-stars.svg');
}

.hills-pattern-space {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-image: url('./images/pattern-hills.svg');
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: bottom right;
}

.social-icons-space {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2.5rem;
} 

.social-icons-space svg:hover {
  filter: invert(58%) sepia(8%) saturate(5438%) hue-rotate(304deg) brightness(95%) contrast(107%);
  cursor: pointer;
}

/* timer styling and positioning */

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-space {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: max-content;
}

.box {
  text-align: center;
}

.box span {
  color: var(--Soft-red);
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
}

.box h3 {
  color: var(--Grayish-blue);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 5px;
}


h1 {
  color: var(--White);
  font-size: 1.25rem;
  letter-spacing: 8px;
  margin: 5rem 0;
}

